<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="TitleTextField">Title</label>
                <input type="text" class="form-control" id="TitleTextField"
                placeholder="Book Title" name="Title" value="<%= books.Title %>" required>
              </div>
              <div class="form-group">
                <label for="DescriptionTextField">Description</label>
                <input type="text" class="form-control" id="DescriptionTextField"
                placeholder="Book Description" name="Description" value="<%= books.Description %>"  required>
              </div>
              <div class="form-group">
                <label for="PriceTextField">Price</label>
                <input type="text" class="form-control" id="PriceTextField"
                  placeholder="Book Price" name="Price" value="<%= books.Price %>"
                  pattern="[0-9]+" Title="Please enter numbers only" required>
              </div>
              <div class="form-group">
                <label for="AuthorTextField">Auther</label>
                <input type="text" class="form-control" id="AuthorTextField"
                placeholder="Book Author" name="Author" value="<%= books.Author %>"  required>
              </div>
              <div class="form-group">
                <label for="GenreTextField">Genre</label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Book Genre" name="Genre" value="<%= books.Genre %>"  required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/books" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
